<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ siteName }}
      |
      {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">

    {# <script src="/js/main.js"></script> #}

    {% block head %}{% endblock %}
  </head>

  <body>
    <header>
      <h1>
        <a href="/">Lex blog</a>
      </h1>
      <p class="logo">&#x13153;&#x131CB;&#x13171;</p>
      <small class="translation">
        <i>miw (a magic word)</i>
        [noun]</small>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      <p>
        <i>&copy; Alex Seidler 2019 - Powered by moonlight</i>
      </p>
    </footer>
  </body>

</html>