{% extends "base.njk" %}
{% block main %}
  <article>
    <h1>{{title}}</h1>

    <p>
      <i>{{date | formatDate }}</i>
    </p>

    {{ contents | safe }}

    <p>
      <a href="/">Back to main page</a>
    </p>
  </article>
{% endblock %}