@import url("./normalize.css");

:root {
  --color-dark: #222222;
  --color-light: #fafafa;

  --f1: 2rem;
  --f2: 1.25rem;
  --f3: 1rem;
  --f4: 0.85rem;

  --measure-wide: 60rem;
  --measure: 48rem;

  --page-margin: 2rem;
}

@media screen and (max-width: 36rem) {
  :root {
    --f1: 1.5rem;
    --page-margin: 1rem;
  }
}

html,
body {
  font-size: 16px;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: var(--measure-wide);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  padding: var(--page-margin);
  margin-bottom: var(--separator-space);
  align-items: center;
}

header h1 {
  flex: 1 1 50%;
  margin: 0;
  font-size: var(--f2);
  font-weight: normal;
  text-transform: uppercase;
  text-align: right;
}

header h1 a {
  text-decoration: none;
  color: var(--color-dark);
}

header h1 a:hover {
  text-decoration: underline;
}

header .logo {
  flex: 0 0 auto;
  margin: 0;
  padding: 0 2rem;
  font-size: var(--f1);
  /* Fix font offset */
  position: relative;
  top: 0.25rem;
}

header .translation {
  flex: 1 1 50%;
  margin: 0;
  font-size: var(--f4);
}

@media screen and (max-width: 48rem) {
  header {
    justify-content: space-between;
    margin-bottom: 0;
  }

  header h1 {
    text-align: left;
  }
  header .translation {
    display: none;
  }
}

/* Main */

main {
  padding: 0 var(--page-margin);
  flex-grow: 1;
}

/* Footer */

footer {
  padding: var(--page-margin);
}

footer p {
  max-width: var(--measure);
  margin: 0 auto;
}

/* Article */

article {
  max-width: var(--measure);
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 4rem;
}

article h1 {
  line-height: 1.25;
}

@media screen and (max-width: 48rem) {
  article {
    margin-bottom: 2rem;
  }
}
